/*General styles*/
body {
    background:#2c3e50 ; /*Background color*/
    color: azure;
    font-family: 'Arial',  sans-serif;
    min-height: 100vh;
    font-size: 1rem;
}

nav {
    padding-top: 20px;
    
    
}

.navbar-brand {
    font-size: 24px;
    margin-left: 10px;
    color: aliceblue;
}
.nav-link  {
    padding: 20px;
    font-size: 20px;
    color: aliceblue;
}
.navbar-toggler {
    background-color: aliceblue;
}
.home-container {
    border-radius: 10px;
}
.board {
    display: grid;
}
.cell {
    display: flex;
    width: 80px;
    height: 80px;
}
.footer {
    position: absolute;
    gap: 10px;
   bottom: 0;
   width: 100%;
   padding: 6px;
   
    
}